[Unit]
Description=Pebble connector daemon
Requires=dbus.socket bluetooth.target
After=pre-user-session.target lipstick.service dbus.socket bluetooth.target

[Service]
ExecStart=/usr/bin/pebbled
Restart=always

[Install]
WantedBy=user-session.target
